$small1: (
  0: 0.75rem,
  576: 0.75rem,
  768: 0.75rem,
  992: 0.75rem,
  1200: 0.75rem,
  2560: calc(0.75rem * 1.5),
  3600: calc(0.75rem * 2),
);

$small2: (
  0: 0.875rem,
  576: 0.875rem,
  768: 0.875rem,
  992: 0.875rem,
  1200: 0.875rem,
  2560: calc(0.875rem * 1.5),
  3600: calc(0.875rem * 2),
);

$small3: (
  0: 0.938rem,
  576: 0.938rem,
  768: 0.938rem,
  992: 0.938rem,
  1200: 0.938rem,
  2560: calc(0.938rem * 1.5),
  3600: calc(0.938rem * 2),
);

$default: (
  0: 1rem,
  576: 1rem,
  768: 1rem,
  992: 1rem,
  1200: 1rem,
  2560: calc(1rem * 1.5),
  3600: calc(1rem * 2),
);

$large1: (
  0: 1.125rem,
  576: 1.125rem,
  768: 1.125rem,
  992: 1.125rem,
  1200: 1.125rem,
  2560: calc(1.125rem * 1.5),
  3600: calc(1.125rem * 2),
);

$large2: (
  0: 1.25rem,
  576: 1.25rem,
  768: 1.25rem,
  992: 1.25rem,
  1200: 1.25rem,
  2560: calc(1.25rem * 1.5),
  3600: calc(1.25rem * 2),
);

$large3: (
  0: 1.375rem,
  576: 1.375rem,
  768: 1.375rem,
  992: 1.375rem,
  1200: 1.375rem,
  2560: calc(1.375rem * 1.5),
  3600: calc(1.375rem * 2),
);

$large4: (
  0: 1.5rem,
  576: 1.5rem,
  768: 1.5rem,
  992: 1.5rem,
  1200: 1.5rem,
  2560: calc(1.5rem * 1.5),
  3600: calc(1.5rem * 2),
);

$large5: (
  0: 1.625rem,
  576: 1.625rem,
  768: 1.625rem,
  992: 1.625rem,
  1200: 1.625rem,
  2560: calc(1.625rem * 1.5),
  3600: calc(1.625rem * 2),
);

$large6: (
  0: 1.75rem,
  576: 1.75rem,
  768: 1.75rem,
  992: 1.75rem,
  1200: 1.75rem,
  2560: calc(1.75rem * 1.5),
  3600: calc(1.75rem * 2),
);

$large7: (
  0: 2.125rem,
  576: 2.125rem,
  768: 2.125rem,
  992: 2.125rem,
  1200: 2.125rem,
  2560: calc(2.125rem * 1.5),
  3600: calc(2.125rem * 2),
);

$large8: (
  0: 2.5rem,
  576: 2.5rem,
  768: 2.5rem,
  992: 2.5rem,
  1200: 2.5rem,
  2560: calc(2.5rem * 1.5),
  3600: calc(2.5rem * 2),
);

$large9: (
  0: 5rem,
  576: 5rem,
  768: 5rem,
  992: 5rem,
  1200: 5rem,
  2560: calc(5rem * 1.5),
  3600: calc(5rem * 2),
);
