@import '@/assets/css/_font-sizes.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0 1vw;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: 100%;
}

.screen-centered {
  margin: 0 12.8vw;
}

.accent {
  color: rgb(202, 162, 92);
}

.subheading {
  font-family: 'TradeGothic LT Bold', sans-serif;
  color: rgb(202, 162, 92);
  font-size: map-get($default, 1200);
  letter-spacing: 0.1em;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.section-heading {
  font-size: map-get($large8, 1200);
  font-family: 'Minion Pro', serif;
  color: rgb(20, 20, 20);
  font-weight: 400;
}

@media screen and (min-width: 576px) {
  .screen-centered {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .screen-centered {
    margin: 0 12.8vw;
  }
}

@media screen and (min-width: 2560px) {
  .subheading {
    font-size: map-get($default, 2560);
  }
  .section-heading {
    font-size: map-get($large8, 2560);
  }
}

@media screen and (min-width: 3200px) {
  .subheading {
    font-size: map-get($default, 3200);
  }
  .section-heading {
    font-size: map-get($large8, 3200);
  }
}
